div{ 
display:inline-block;
height:200px;
width:200px;
border:1px solid black;
background-color:rgb(47, 151, 151);
overflow: auto;}

div:nth-child(even){background-color:rgb(192, 192, 59);}
input, button{
    background-color:rgb(211, 173, 129);
    padding:10px;
    opacity:0.9;
   color:black;
}
input:hover{
    opacity:1.8;
    background-image : url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4UsRMEfD1OHoN9mQegfuaWkLA8CVXjO6new&usqp=CAU');
      }
button:hover{
        color:black;
        opacity:1.8;
        background-image : url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4UsRMEfD1OHoN9mQegfuaWkLA8CVXjO6new&usqp=CAU');
          }
.footer-box{
    
    width:350px;
    height:400px;
    background-color:rgb(152, 180, 117);
    color:white;
   
    
}
.footer-box input{
    background-color:rgb(212, 205, 205);
    margin-top:20px;
    
}
.footer-box button{
    background-color:rgb(212, 205, 205);
    margin-top:20px;
     
}

   