body{font-family:GHMedium,Arial,sans-serif; }
.header{background-color:#002835;
    font-size:10px;
    text-align:center;
    padding:10px;
    height:40px;
    margin-top:-8px;
    margin-left:-8px;
    margin-right:-8px;
   font-family:GHMedium,Arial,sans-serif; }

a {border-left:1px solid rgba(253, 253, 253, 0.3);
     word-spacing: 3px;
     letter-spacing: 2px;
     cursor:pointer;
     color:white;
     text-decoration:none;
     text-align:center;
     padding:20px;}
   

 a:hover{text-decoration: underline;}

.id , .password  {
       background-color: rgba(3,38, 58, 0.952);
       color:white;
       display:inline-block;
       border:1px solid rgb(70, 113, 129) ; 
    
    }

.password {margin-left:5px; }

.button  { margin-left:5px ;}

.button{ background-color:#f57812;
            border-radius:100%;
            font-size:10px;
            padding:5px; 
            color:black;
        }  
.nav{background-color: #004960;
     text-align:center;
     font-family:GHMedium,Arial,sans-serif;
     height:60px;
     padding:10px;
     position:sticky;
     top:0px;
     left:0px;
     right:0px;
     margin-left:-8px;
     margin-top:-8px;
     margin-right:-10px;}
.nava a{color:white;
        border-left:none; 
        list-style-type:none;
        text-align: center;}
    
.nava li{display: inline-block;
        font-size:12px;
        margin-top:-20px;
        padding:20px;
        text-align: center;
        
        }

img{float: left;
     margin-left:100px;
    margin-top:5px;
    }
ul{margin-right:100px;}
.listul:hover{text-decoration:underline;}
div li { display:inline-block;
         margin-top:20px;
         margin-bottom:20px;
         word-spacing:5px; 
         letter-spacing: 3px;
         font-size: 12px;}

.alert{background-color: #f57812;
       padding:15px;
       text-align:center;
       font-family:GHMedium,Arial,sans-serif;
       color:white;
       margin-left:-8px;
       margin-right: -8px;;

       }
.alert a{color:black;
         text-decoration:underline;
         border-left:none;
         cursor: pointer;
         padding-left:5px;
        }
.alert i{float:right;
        color:black;
        font-size:20px;
        margin-right:50px;
        cursor: pointer;
        text-align:center;}
.banner {margin-left:80px;
        margin-top:0px;
        text-align:center;
        cursor: pointer;
        
        }

.section{background-color:#004960;
         width:1100px;
         margin-left:80px;
         margin-right:0px;
         margin-top:5px;
         height:125px;
        display:flex;
        }

.section-span {clear:both;
             font-family:GHMedium,Arial,sans-serif;
             word-spacing: 5px;
             letter-spacing: 7px;  
             color:white;
             position:relative;
             left:40px;
             top:35px;
             font-size:30px;
               }
.section-span-1, .section-span-2{color:white;
                                 }
.section-span-2{margin-left:20px;}
.section-header-div {background-color:#002835;
                     width:745px;
                     height:70px;
                     position:relative;
                     top:20px;
                     left:80px;
                     right:0px;}
                 
.section-header-div input{border:1px solid rgba(00, 00, 00, 0.3);
                          color:white;
                         }

 .section-span-2 {font-size:12px;
                 word-spacing: 3px;
                 letter-spacing: 2px;
                

                


          
                }

.section-id, .section-password{width:200px;
                        height:30px;
                        margin-top:13px; 
                        font-weight: bolder;
                        padding:5px;
                        margin-left:5px;
                        flex-grow:1;
                        background-color: #002835;
                }
.section-id:hover{background: white;}
.section-password:hover{ background-color:white;}

.section-button{font-size:25px;
               background-color: #004963;
               border-radius: 80%;
                margin-left:5px;
        flex-grow: 1;}
.section-button-signin{margin-left:3px;
                      padding:12px;
                      padding-left:20px;
                      padding-right: 20px;
                      border:0px none #004963;
                      border-bottom-right-radius: 70px;
                      border-top-left-radius: 30px;
                      border-bottom-left-radius:30px;
                      background-color:#004963;
                      flex-grow: 2;
                       }
.section-button:hover{background-color: #484848;
                     cursor: pointer;}
.section-button-signin:hover{background-color: #484848;cursor: pointer;}
.section-footer-div{    width:1100px;
                        height:150px;
                        background-color:#004960;
                        margin-left:80px;
                        margin-right:0px; }
.row-1{display:flex;
        justify-content:space-between;
margin-left:30px;
margin-right:30px;}    
.row-1 div{display:inline-block;}
          
.row-1 input{padding:12px;
             background-color:white;
             color:#004960;
             font-weight:bold;
             border:none;
             font-size:15px;
            
             }
.row-1 label{background-color:white; 
             padding:12px;}
           
                   
.row-2{margin-left:30px;
       margin-right:30px;
       }
.row-2 input{background-color: #004960;
                                 border:1px solid black;
                                 color:white;
                                padding:15px;
                                 position:relative;
                                 top:25px;}
                
.row-2 {display:flex;
        justify-content: space-evenly;
                          }



/*.footer{background-color: rgba(247, 245, 245, 0.678);
        width:1100px;
        padding-top:20px;
        padding-bottom:20px;
        padding-left:6px;
        padding-right:6px;
        margin-left:80px;
        margin-right:0px;
        border-top:4px solid #004963;
        display:flex;
        justify-content:space-evenly;
       }
.footer a{border-left:none;}
tr a {color:#004963;
     background-color: transparent;
     cursor: pointer;
     border-left:1px solid grey;}
  
       
.footerraw a:hover {background-color:white;
                   color:#f57812;
                   cursor:pointer;}*/
  
.footer{background-color:rgb(133,133,133, 0.4);
        color:#004963;
        width:1100px;
        height:20px;
        padding-top: 20px;
        display:flex;
        list-style-type:none;
        padding-bottom:20px;
        padding-left:0px;
        padding-right:0px;
        margin-left:80px;
        margin-right:80px;
        border-top:4px solid #004963;
        justify-content:space-around;
        flex-wrap:wrap;}
.footer a{color:#004963;
          justify-content:space-between;
         }
.middle a{
          text-align: center;}
.footer a:hover {background-color:white;
         color:#f57812;
         cursor:pointer;}